body {
    background-color: rgb(234, 237, 241);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width: 100%;
    min-height: 250px;
}

.main {
    padding: 40px 0;

}

.col-md-3 {
    margin-bottom: 40px;
}

.album-poster {
    position: relative;
    display: block;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 15px 35px #bcb0d3a1;
    transition: all ease 0.4s;

}

.album-poster:hover{
    box-shadow: none;
    transform: scale(0.98) translateY(5px);
}

h3 {
    font-size: 34px;
    margin-bottom: 34px;
    /* border-bottom: 4px solid #e6e6e6; */
}

p {
    font-size: 15px;
    text-transform: capitalize;
}

h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 700;
}

#aplayer {
    bottom: 0;
    width: 100%;
    position: fixed;
    left: 0;
    margin: 0;
    box-shadow: 0 -2px 2px #dadada;
    background-color: #fff;
    transition: all ease 0.5%;
}

#adplayer.showPlayer {
    transition: all ease 0.5ms;
}

/* .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded{
    background: #cee0e0e0;
    height: 4px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played{
    background: #cee0e0e0;
    height: 4px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb{
    background: #cee0e0e0;
    /* height: 4px; */
/* } */ 

